#### Prep

* Install yahoo_fin and requests_html
> Open terminal  then run:  pip install yahoo_fin requests_html

In [1]:
import h5py
import pandas as pd
import yahoo_fin as yf
from yahoo_fin.stock_info import *
import time
import shelve

In [2]:
# f = h5py.File('/data/stox.hdf5','w') 

cache = shelve.open('/data/stox.cache')

In [3]:
def get_nyse_df():
    df = pd.read_csv('/data/companylist.nyse.csv')
    df.columns = [c.strip().lower().replace(' ','_') for c in df.columns]
    df['marketcap'] = df['marketcap'].str.replace(' ','').str.replace(',','').str.replace('-','0').astype(float)
    for c in df.columns:
        if df[c].dtype == object: 
            df[c] = df[c].astype(str)
    return df

def get_nasdaq_df():
    df = pd.read_csv('/data/companylist.nasdaq.csv')

    df.columns = [c.strip().lower().replace(' ','_') for c in df.columns]

    # df['marketcap'] = df['marketcap']\
    #     .str.replace('$','').str.replace(' ','').str.replace('n/a','0').str.replace(',','')\
    #     .str.replace('-','0')
    def ston(x):
        v = x
        try:
            v = str(x).strip().replace('$','').replace(',','').replace('n/a','0.0')
            v = float(v[:-1])*1e9 if v[-1] == 'B' else float(v[:-1])*1e6
            return v
        except:
            return 0
    df['marketcap'] = df['marketcap'].apply(ston)
    return df

In [4]:
# df = pd.read_csv('/data/companylist.nasdaq.csv')

# df.columns = [c.strip().lower().replace(' ','_') for c in df.columns]

# # df['marketcap'] = df['marketcap']\
# #     .str.replace('$','').str.replace(' ','').str.replace('n/a','0').str.replace(',','')\
# #     .str.replace('-','0')
# def ston(x):
#     v = x
#     try:
#         v = str(x).strip().replace('$','').replace(',','').replace('n/a','0.0')
#         v = float(v[:-1])*1e9 if v[-1] == 'B' else float(v[:-1])*1e6
#         return v
#     except:
#         return 0
# df['marketcap'] = df['marketcap'].apply(ston)
# # for c in df.columns:
# #     if df[c].dtype == object: 
# #         df[c] = df[c].astype(str)

def filter_mid_cap_5y(df):
    mid_cap = df[ (5e9 < df.marketcap) &  (df.marketcap < 11e10) 
                 & (df.ipoyear > 2014) & (df.ipoyear <= 2019)]
    return mid_cap

In [5]:
df = get_nasdaq_df()
mid_cap_5y_nasdaq = filter_mid_cap_5y(df)

df = get_nyse_df()
mid_cap_5y_nyse = filter_mid_cap_5y(df)

#                 & ((df.sector == 'Health Care') | (df.sector == 'Technology'))]
# mid_cap_10y.to_hdf('/data/stox.hdf5', key='mid_cap_10y', mode='w')

top_nasdaq = mid_cap_5y_nasdaq.sort_values(by=['lastsale'],ascending=False).head(30).symbol.to_list()
top_nyse = mid_cap_5y_nyse.sort_values(by=['lastsale'],ascending=False).head(30).symbol.to_list()

top_stox = sorted(list(set(top_nasdaq+top_nyse)))

In [6]:
# top

In [7]:
df = get_nyse_df()
mid_cap_10y1 = df[ (5e9 < df.marketcap) &  (df.marketcap < 11e10) &  (df.ipoyear > 2014) & (df.ipoyear < 2018)]
print (mid_cap_10y1)


my_stox = "SBUX,MSFT,AMZN,GOOG,C,FB,TWTR,WMT".split(',')

     symbol                                              name  lastsale  \
72      AQN                 Algonquin Power & Utilities Corp.     12.98
104     AYX                                     Alteryx, Inc.    135.33
105    ATUS                                  Altice USA, Inc.     26.70
262     ATH                               Athene Holding Ltd.     39.20
275     AGR                                    Avangrid, Inc.     49.36
303    BHGE                        Baker Hughes, a GE company     23.57
384     BKI                                Black Knight, Inc.     61.38
531    CABO                                   Cable One, Inc.   1261.41
586    CVNA                                       Carvana Co.     80.43
616     EBR  Centrais Electricas Brasileiras S.A.- Eletrobras     10.90
720    CCEP                   Coca-Cola European Partners plc     54.36
947      DD                           DuPont de Nemours, Inc.     68.48
1031   ENIC                                   Enel Chile S.A.      4.24
1131   RACE                                      Ferrari N.V.    160.82
1191    FTS                                       Fortis Inc.     40.83
1192    FTV                               Fortive Corporation     70.01
1237    GDI                     Gardner Denver Holdings, Inc.     30.57
1300   GDDY                                      GoDaddy Inc.     64.05
1404    HPE                Hewlett Packard Enterprise Company     13.40
1419    HLT                    Hilton Worldwide Holdings Inc.     95.26
1442   HUBB                                       Hubbell Inc    127.26
1521   INVH                             Invitation Homes Inc.     27.87
1553   JBGS                              JBG SMITH Properties     38.56
1632    KNX                       Knight Transportation, Inc.     33.82
1654     LW                        Lamb Weston Holdings, Inc.     67.30
1700     LN                                  LINE Corporation     32.97
1828    MGP                         MGM Growth Properties LLC     29.50
1830   MFGP                              Micro Focus Intl PLC     19.34
2185    PEN                                    Penumbra, Inc.    151.97
2248   PLNT                              Planet Fitness, Inc.     72.63
2388   RELX                                          RELX PLC     23.58
2496     SE                                       Sea Limited     34.62
2534   SHOP                                      Shopify Inc.    369.23
2559   SNAP                                         Snap Inc.     17.00
2607     SQ                                      Square, Inc.     63.00
2782    MSG                 The Madison Square Garden Company    290.46
2833    TRU                                        TransUnion     82.11
2868   TWLO                                       Twilio Inc.    132.05
2897     UA                                Under Armour, Inc.     17.83
2931   USFD                            US Foods Holding Corp.     38.41
2960    VSM                            Versum Materials, Inc.     51.86
3080    WRK                                  Westrock Company     34.65
3118   YUMC                          Yum China Holdings, Inc.     43.07
3128    ZTO                         ZTO Express (Cayman) Inc.     19.03

         marketcap  adr_tso  ipoyear                 sector  \
72    6.432771e+09      NaN   2016.0       Public Utilities
104   8.498690e+09      NaN   2017.0             Technology
105   1.729443e+10      NaN   2017.0      Consumer Services
262   7.353689e+09      NaN   2016.0                Finance
275   1.525250e+10      NaN   2015.0       Public Utilities
303   2.446367e+10      NaN   2017.0                 Energy
384   9.180731e+09      NaN   2017.0             Technology
531   7.197878e+09      NaN   2015.0      Consumer Services
586   1.215727e+10      NaN   2017.0      Consumer Durables
616   1.474371e+10      NaN   2016.0       Public Utilities
720   2.527370e+10      NaN   2016.0  Consumer Non-Durables
947   5.105063e+10      NaN   2017.0       Basic Industries
1031  5.865324e+09      NaN   2016.0       Public Utilities
1131  4.024960e+10      NaN   2015.0          Capital Goods
1191  1.779564e+10      NaN   2016.0       Public Utilities
1192  2.349068e+10      NaN   2016.0          Capital Goods
1237  6.239325e+09      NaN   2017.0             Technology
1300  1.143397e+10      NaN   2015.0             Technology
1404  1.794459e+10      NaN   2015.0             Technology
1419  2.732576e+10      NaN   2016.0      Consumer Services
1442  6.924083e+09      NaN   2015.0          Capital Goods
1521  1.498516e+10      NaN   2017.0                Finance
1553  5.171937e+09      NaN   2017.0      Consumer Services
1632  5.766705e+09      NaN   2017.0         Transportation
1654  9.803877e+09      NaN   2016.0  Consumer Non-Durables
1700  7.942643e+09      NaN   2016.0             Technology
1828  8.628792e+09      NaN   2016.0      Consumer Services
1830  6.602152e+09      NaN   2017.0             Technology
2185  5.287490e+09      NaN   2015.0            Health Care
2248  6.725084e+09      NaN   2015.0      Consumer Services
2388  4.586134e+10      NaN   2015.0      Consumer Services
2496  1.431879e+10      NaN   2017.0      Consumer Services
2534  3.702739e+10      NaN   2015.0             Technology
2559  2.344768e+10      NaN   2017.0             Technology
2607  2.690923e+10      NaN   2015.0             Technology
2782  6.900897e+09      NaN   2015.0      Consumer Services
2833  1.542026e+10      NaN   2015.0                Finance
2868  1.794396e+10      NaN   2016.0             Technology
2897  8.045736e+09      NaN   2016.0  Consumer Non-Durables
2931  8.418356e+09      NaN   2016.0  Consumer Non-Durables
2960  5.666702e+09      NaN   2016.0       Basic Industries
3080  8.906532e+09      NaN   2015.0      Consumer Durables
3118  1.623001e+10      NaN   2016.0      Consumer Services
3128  1.499412e+10      NaN   2016.0         Transportation

                                             industry  \
72                        Electric Utilities: Central
104           Computer Software: Prepackaged Software
105                               Television Services
262                                    Life Insurance
275                       Electric Utilities: Central
303                                Metal Fabrications
384           Computer Software: Prepackaged Software
531                               Television Services
586                            Automotive Aftermarket
616                       Electric Utilities: Central
720               Beverages (Production/Distribution)
947                                   Major Chemicals
1031                      Electric Utilities: Central
1131                               Auto Manufacturing
1191                      Electric Utilities: Central
1192                  Industrial Machinery/Components
1237                  Industrial Machinery/Components
1300                                     EDP Services
1404                           Computer Manufacturing
1419                                   Hotels/Resorts
1442                              Electrical Products
1521                                      Real Estate
1553                    Real Estate Investment Trusts
1632                Trucking Freight/Courier Services
1654                                   Packaged Foods
1700  Computer Software: Programming, Data Processing
1828                    Real Estate Investment Trusts
1830          Computer Software: Prepackaged Software
2185                       Medical/Dental Instruments
2248                                   Hotels/Resorts
2388                                       Publishing
2496                          Other Consumer Services
2534          Computer Software: Prepackaged Software
2559  Computer Software: Programming, Data Processing
2607          Computer Software: Prepackaged Software
2782            Services-Misc. Amusement & Recreation
2833                       Finance: Consumer Services
2868          Computer Software: Prepackaged Software
2897                                          Apparel
2931                                Food Distributors
2960                                  Major Chemicals
3080                             Containers/Packaging
3118                                      Restaurants
3128                Trucking Freight/Courier Services

                           summary_quote
72     https://www.nasdaq.com/symbol/aqn
104    https://www.nasdaq.com/symbol/ayx
105   https://www.nasdaq.com/symbol/atus
262    https://www.nasdaq.com/symbol/ath
275    https://www.nasdaq.com/symbol/agr
303   https://www.nasdaq.com/symbol/bhge
384    https://www.nasdaq.com/symbol/bki
531   https://www.nasdaq.com/symbol/cabo
586   https://www.nasdaq.com/symbol/cvna
616    https://www.nasdaq.com/symbol/ebr
720   https://www.nasdaq.com/symbol/ccep
947     https://www.nasdaq.com/symbol/dd
1031  https://www.nasdaq.com/symbol/enic
1131  https://www.nasdaq.com/symbol/race
1191   https://www.nasdaq.com/symbol/fts
1192   https://www.nasdaq.com/symbol/ftv
1237   https://www.nasdaq.com/symbol/gdi
1300  https://www.nasdaq.com/symbol/gddy
1404   https://www.nasdaq.com/symbol/hpe
1419   https://www.nasdaq.com/symbol/hlt
1442  https://www.nasdaq.com/symbol/hubb
1521  https://www.nasdaq.com/symbol/invh
1553  https://www.nasdaq.com/symbol/jbgs
1632   https://www.nasdaq.com/symbol/knx
1654    https://www.nasdaq.com/symbol/lw
1700    https://www.nasdaq.com/symbol/ln
1828   https://www.nasdaq.com/symbol/mgp
1830  https://www.nasdaq.com/symbol/mfgp
2185   https://www.nasdaq.com/symbol/pen
2248  https://www.nasdaq.com/symbol/plnt
2388  https://www.nasdaq.com/symbol/relx
2496    https://www.nasdaq.com/symbol/se
2534  https://www.nasdaq.com/symbol/shop
2559  https://www.nasdaq.com/symbol/snap
2607    https://www.nasdaq.com/symbol/sq
2782   https://www.nasdaq.com/symbol/msg
2833   https://www.nasdaq.com/symbol/tru
2868  https://www.nasdaq.com/symbol/twlo
2897    https://www.nasdaq.com/symbol/ua
2931  https://www.nasdaq.com/symbol/usfd
2960   https://www.nasdaq.com/symbol/vsm
3080   https://www.nasdaq.com/symbol/wrk
3118  https://www.nasdaq.com/symbol/yumc
3128   https://www.nasdaq.com/symbol/zto

In [8]:
def gest(s):
    ckey = f"perf_est_{s.lower()}"
    if ckey in cache:
        return cache[ckey]
    time.sleep(2)
    try:
        ai = get_analysts_info(s)
        v = ai['Growth Estimates'] if ai else None
        cache[ckey] = v
        return v
    except:
        cache[ckey] = None
        return None

In [9]:
def evaluate_stox(stox):
    values = [(s,gest(s)) for s in stox]
    values = [(s,v) for s,v in values if v is not None]
    # values.sort(key=lambda sv: sv[1])
    # for s in top:
    #     v = gest(s)
    #     if v is not None:
    #         print(f'-------- {s:>8} {v.iloc[4,1]} {v.iloc[3,1]} {v.iloc[2,1]} {v.iloc[5,1]}   -------')
    #     else:
    #         print(f'-------- {s} None  -------')
    for s,v in values:
        print(f'-------- {s:>8} {v.iloc[4,1]} {v.iloc[3,1]} {v.iloc[2,1]} {v.iloc[5,1]}   -------')

In [10]:
evaluate_stox(my_stox)
evaluate_stox(top_stox)

--------     SBUX 10.55% 12.50% 7.80% 14.45%   -------
--------     MSFT 14.50% 12.40% 13.70% 18.17%   -------
--------     AMZN 28.00% 29.80% 2.60% 100.60%   -------
--------     GOOG 15.82% 17.20% 6.10% nan   -------
--------        C 13.00% 9.60% 6.10% 26.09%   -------
--------       FB 11.46% 43.10% -15.30% 42.12%   -------
--------     TWTR 13.90% -62.80% 177.90% 51.68%   -------
--------      WMT 5.18% 4.40% 1.60% 0.53%   -------
--------     ADPT nan 23.60% nan nan   -------
--------      ALC 3.42% 5.80% nan nan   -------
--------     ARGX nan -87.40% -37.40% nan   -------
--------     ASND 24.00% -11.00% -28.70% nan   -------
--------     AVLR -53.90% 7.10% 79.10% nan   -------
--------      AYX 39.80% 43.10% 3,000.00% nan   -------
--------     BGNE 24.00% -15.40% -10.00% nan   -------
--------      BKI 8.69% 5.70% 3.20% 21.29%   -------
--------     BYND -226.30% 327.80% nan nan   -------
--------     CABO 15.50% 37.40% 8.70% 20.89%   -------
--------     CCEP 10.14% 9.30% 10.70% -3.76%   -------
--------     CDAY 119.13% 34.70% 248.50% nan   -------
--------     COUP 58.37% 30.60% 100.00% nan   -------
--------     CVNA 100.00% 27.50% -22.00% nan   -------
--------      DBX 22.20% 22.90% 17.10% nan   -------
--------       DD 5.40% 8.90% -6.20% nan   -------
--------     DOCU 58.70% 70.80% 166.70% nan   -------
--------     ESTC 6.10% -10.70% -9.90% nan   -------
--------     ETSY 18.00% 19.70% 8.20% 86.41%   -------
--------     EVRG 6.50% 8.70% 15.20% -0.13%   -------
--------      FTV 9.26% 10.20% 12.10% 10.83%   -------
--------     GDDY 37.00% 45.20% 62.20% -17.05%   -------
--------      GDS nan 95.30% 12.20% nan   -------
--------       GH 35.40% -38.60% 68.60% nan   -------
--------     GLPG 51.12% -156.10% 841.90% nan   -------
--------     GMAB nan -36.80% nan nan   -------
--------      HLT 20.00% 11.10% 38.40% 10.68%   -------
--------     HUBB 9.30% 6.30% 10.60% 11.04%   -------
--------       IQ 5.75% 34.80% 12.50% nan   -------
--------      LIN 12.69% 10.70% 17.80% 2.50%   -------
--------       LK nan 81.40% nan nan   -------
--------       LW 8.30% 6.20% 9.90% 16.87%   -------
--------     LYFT -54.26% 59.30% nan nan   -------
--------      MDB nan 23.50% 26.10% nan   -------
--------      MSG 16.90% 82.40% -466.70% nan   -------
--------     MTCH 16.75% 7.80% 20.80% 37.58%   -------
--------      NTR -19.40% 29.90% nan nan   -------
--------     NVCR 60.00% 454.50% 84.10% nan   -------
--------     OKTA 25.00% 22.90% -9.40% nan   -------
--------      PDD -37.29% 133.90% 7.50% nan   -------
--------      PEN 20.00% 38.20% 74.50% 93.21%   -------
--------     PLAN nan 8.30% 34.20% nan   -------
--------     PLNT 21.60% 21.70% 28.70% 33.55%   -------
--------     RACE 14.37% 9.10% 8.60% 26.18%   -------
--------     ROKU 13.70% 13.50% -550.00% nan   -------
--------     SHOP 57.73% 389.50% -50.00% nan   -------
--------     SPOT 130.55% 66.70% -4.10% nan   -------
--------       SQ 38.67% 23.10% 66.00% nan   -------
--------     STNE 11.75% 44.30% 89.20% nan   -------
--------     TEAM 19.80% 29.70% 17.40% 38.15%   -------
--------      TRU 14.32% 13.50% 10.00% 25.97%   -------
--------      TTD 29.33% 12.90% 23.70% 54.16%   -------
--------       TW 14.98% 13.00% nan nan   -------
--------     TWLO 15.60% 84.60% 18.20% nan   -------
--------       WH 22.70% 9.50% 20.70% nan   -------
--------       ZM 162.10% 11.10% nan nan   -------
--------       ZS 36.50% 93.30% -31.80% nan   -------

In [11]:
gest('MSFT')

           Growth Estimates    MSFT  Industry  Sector  S&P 500
0              Current Qtr.  20.00%       NaN     NaN     0.01
1                 Next Qtr.   8.80%       NaN     NaN     0.06
2              Current Year  13.70%       NaN     NaN    -0.02
3                 Next Year  12.40%       NaN     NaN     0.14
4  Next 5 Years (per annum)  14.50%       NaN     NaN     0.07
5  Past 5 Years (per annum)  18.17%       NaN     NaN      NaN

In [12]:
bsmsft,bsaapl = get_balance_sheet('MSFT'),get_balance_sheet('AAPL')

In [13]:
bsmsft

,Breakdown,6/29/2019,6/29/2018,6/29/2017,6/29/2016
0,Current Assets,None,None,None,None
1,Cash,None,None,None,None
2,Cash And Cash Equivalents,11356000,11946000,7663000,6510000
3,Short Term Investments,122463000,121822000,125318000,106730000
4,Total Cash,133819000,133768000,132981000,113240000
5,Net Receivables,29524000,26481000,19792000,18277000
6,Inventory,2063000,2662000,2181000,2251000
7,Other Current Assets,10146000,6751000,4897000,5892000
8,Total Current Assets,175552000,169662000,159851000,139660000
9,Non-current assets,None,None,None,None
10,Property plant and equipment,None,None,None,None
11,Gross property plant and equipment,79186000,65369000,47913000,38156000
12,Accumulated Depreciation,-35330000,-29223000,-24179000,-19800000
13,Net property plant and equipment,43856000,36146000,23734000,18356000
14,Equity and other investments,2649000,1862000,6023000,10431000
15,Goodwill,42026000,35683000,35122000,17872000
16,Intangible Assets,7750000,8053000,10106000,3733000
17,Other long-term assets,14723000,7442000,6250000,3642000
18,Total non-current assets,111004000,89186000,81235000,54034000
19,Total Assets,286556000,258848000,241086000,193694000
20,Liabilities,None,None,None,None
21,Current Liabilities,None,None,None,None
22,Total Revenue,5516000,3998000,10121000,12904000
23,Accounts Payable,9382000,8617000,7390000,6898000
24,Taxes payable,5665000,2121000,718000,580000
25,Accrued liabilities,-,-,5819000,5264000
26,Deferred revenues,32676000,28905000,34102000,27468000
27,Other Current Liabilities,9351000,8744000,6280000,5949000
28,Total Current Liabilities,69420000,58488000,64527000,59357000
29,Non-current liabilities,None,None,None,None
30,Long Term Debt,66662000,72242000,76073000,40783000
31,Deferred taxes liabilities,233000,541000,531000,1476000
32,Deferred revenues,4530000,3815000,10377000,6441000
33,Other long-term liabilities,7581000,5211000,17184000,13640000
34,Total non-current liabilities,114806000,117642000,104165000,62340000
35,Total Liabilities,184226000,176130000,168692000,121697000
36,Stockholders' Equity,None,None,None,None
37,Common Stock,78520000,71223000,69315000,68178000
38,Retained Earnings,24150000,13682000,2648000,2282000
39,Accumulated other comprehensive income,-340000,-2187000,431000,1537000
40,Total stockholders' equity,102330000,82718000,72394000,71997000
41,Total liabilities and stockholders' equity,286556000,258848000,241086000,193694000